body {
    font-family: Montserrat;
}

h2 {
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;

}

h3 {
    font-family: Montserrat;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

#title {
    color: #ffffff;
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.3rem;
    font-family: Montserrat-light;
}

/* Download Buttons */

.download-buttons {
    margin: 5% 3% 5% 0;
}

/* Title image */

.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features Section */

#features {
    padding: 7% 15%;
    background-color: #ffffff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: #ffffff;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 0% 0% 5% 5%;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

#pricing-colomn {
    padding: 3% 2% 3% 2%;
}

/* CTA Section */

#cta {
    background-color:  #ff4c68;
    color: #ffffff;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

/* Fotter Section */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.fotter-icon {
    margin: 20px 10px;
}

@media (max-width: 982px) {

#title {
    text-align: center;
}

    .title-img{
        position: static;
        transform: rotate(0);
    }
}
